#**
 *  Render a hit representing an archival material
 *  assumed to have a field called "title"
 *#

<div class="result-title"><a href=#field('link')>#field('unittitle')</a></div>
<div>Collection: #field('collection')</div>
<div>Publisher: #field('publisher')</div>
<div>About: #field('bioghist')</div>
<div>date: #field('unitdate')</div>




<!-- The Modal -->

