#**
 *  Render a hit representing an archival material
 *  assumed to have a field called "title"
 *#

<div class="result-title"><a href=#field('link')>#field('title')</a></div>
<div>Collection: #field('collection')</div>
<div>Level: #field('c02')</div>




<!-- The Modal -->

